# Maven build outputs
target/
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Local Maven binaries download folder
.maven/

# IDE configurations
.idea/
.vscode/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.factorypath

# Operating system files
Thumbs.db
Desktop.ini
.DS_Store

# Database scripts and dumps
*.sql

# BiteSync Debug files
otp_debug.txt

# Local execution scripts containing environment credentials
run.cmd